{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>CritiqueVideoScreen</title>
    <link rel="stylesheet" type="text/css" href="{% static 'draw/preference/CritiqueVideoScreen.css' %}">
  
</head>

<body>
    <!-- You may change the dimensions of this canvas -->
    <div class="display_size" style="text-align: center; font-size: 5vw;"></div>
    
<!--   class mainpage set the vertical layout -->
  <div class="vertical_box">
    
          
    
          <div class ="first_row">
            <div class = "r1c1">
              <img class= "arrow" src = "{% static 'draw/preference/assets/arrow.svg'%}">
            </div>
          </div>
          
    
    
    
    <div class ="second_row">
          <div class = "r2c1">
              <img class= "squarebasketballplayer" src = "{% static 'draw/preference/assets/squarebasketballplayer.png'%}">
            </div>
    </div>
    
          <div class ="third_row">
            <div class= "r3c1">
              <p>
              Comments:
            </p>
            </div>         
    </div>
  
    <div class ="fourth_row">
      <div class ="r4c1">
        <img class= "chris" src = "{% static 'draw/preference/assets/chris.png'%}">
      </div>
      <div class ="r4c2">
        <img class= "comment" src = "{% static 'draw/preference/assets/comment.png'%}">
      </div>
  </div>
  
  
  
  
    <div class ="bottom_row">
            <div class="rlc1">
              <a id = "Home"><img class= "Home_icon" src = "{% static 'draw/preference/assets/Home.svg'%}"></a>
              </div>
            <div class ="rlc2">
              <img class= "Camera_icon" src = "{% static 'draw/preference/assets/Camera.svg'%}">
            </div>
            <div class ="rlc3">
              <img class= "Personal_icon" src = "{% static 'draw/preference/assets/Personal_icon.svg'%}">
    </div>
        </div>
      
  
</body>

</html>

