{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>CritiqueVideoScreen</title>
    <link rel="stylesheet" type="text/css" href="{% static 'draw/preference/CritiqueVideoScreen.css' %}">
  
</head>

<body>
    <!-- You may change the dimensions of this canvas -->
    
  <div class="display_size" style="text-align: center; font-size: 5vw;"></div>
    
<!--   class mainpage set the vertical layout -->
  <div class="vertical_box">
    
          
    
          <div class ="first_row">
            <div class = "r1c1">
              <img class= "arrow" src = "{% static 'draw/preference/assets/arrow.svg'%}">
            </div>
          </div>
          
    
    
    
    <div class ="second_row">
          <div class = "r2c1">
              <img class= "squarebasketballplayer" src = "{% static 'draw/preference/assets/squarebasketballplayer.png'%}">
            </div>
    </div>
    
          <div class ="third_row">
            <div class= "r3c1">
              <p>
              Comments:
            </p>
            </div>         
    </div>
  
    <div class ="fourth_row">
      <div class ="r4c1">
        <img class= "chris" src = "{% static 'draw/preference/assets/chris.png'%}">
      </div>
      <div class ="r4c2">
        <img class= "comment" src = "{% static 'draw/preference/assets/comment.png'%}">
      </div>
  </div>
  
  
  
  
    <div class ="bottom_row">
           <a href = "http://p4-progress-tracker-eijikudo883404.codeanyapp.com/draw/main_page"><i id = "Home" class="fas fa-home fa-5x Home_icon"></i></a>
              <label id = "Camera" for = "inputPicture" class="fas fa-camera fa-5x Camera_icon">
              </label>
              <input type="file" id = "inputPicture" style="display: none;">
              <i id = "Camera" ></i>
  <a href = "http://p4-progress-tracker-eijikudo883404.codeanyapp.com/draw/Personal_Page"><i id = "Personal" class="fas fa-user fa-5x Personal_icon"></i></a>
  
        </div>
      
  
</body>

</html>

