{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>P4 Drawing</title>

    <link rel="stylesheet" type="text/css" href="{% static 'draw/vendor/bootstrap/css/bootstrap.min.css' %}">
    <script type="text/javascript" src="{% static 'draw/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'draw/vendor/paper/paper-full.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'draw/preference/index.css' %}">

</head>
<body>
    <!-- You may change the dimensions of this canvas -->
    <div class="display_size" style="text-align: center"></div>
    <canvas id="myCanvas"></canvas>
<!--     <div class="memo">
      
    </div> -->
</body>
    <script>
    var user_history = [];
    var user_id;
    </script>
    <script type="text/javascript" src="{% static 'draw/preference/functions.js' %}"></script>
    <script type="text/javascript" src="{% static 'draw/preference/index.js' %}"></script>
    <script type="text/javascript" src="{% static 'draw/preference/receive.js' %}"></script>
    <script type="text/javascript" src="{% static 'draw/preference/receive_small.js' %}"></script>
</html>
