{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>main_page</title>
      <link rel="stylesheet" type="text/css" href="{% static 'draw/vendor/bootstrap/css/bootstrap.min.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'draw/preference/main_page.css' %}">
    <script type="text/javascript" src="{% static 'draw/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'draw/vendor/paper/paper-full.min.js' %}"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Lexend+Deca&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Chewy&display=swap" rel="stylesheet">
</head>

<body>
    <!-- You may change the dimensions of this canvas -->
    <div class="display_size" style="text-align: center; font-size: 5vw;"></div>
    
<!--   class mainpage set the vertical layout -->
  <div class="vertical_box">
<!--     <form class="form-inline">
      <i class="fas fa-search" aria-hidden="true"></i>
      <input class="form-control form-control-lg ml-3 w-75" type="text" placeholder="Search"
        aria-label="Search">
    </form> -->
 </div>
  <h1>
    strive
  </h1>
  <form id = "searchbar" class="form-inline md-form form-sm">
  <input class="form-control form-control-lg mr-3 w-75" type="text" placeholder="Search"
    aria-label="Search">
  <i id = "searchicon" class="fas fa-search fa-3x" aria-hidden="true"></i>
</form>
    
    
          <div class ="first_row">
            <i id = "dots" class="fas fa-ellipsis-v fa-2x"></i>
            
            <div class="r1c1">
              
              <a href = "http://p4-progress-tracker-eijikudo883404.codeanyapp.com/draw/CritiqueVideoScreen"><img class= "basketballplay" src = "{% static 'draw/preference/assets/Basketball_3.png'%}" height = 200px; width = 300px></a>
            </div>
            <div class="r1c2">
            <p id = "firstid">
              @chrischi
              
             </p>
              <ul id="desc">description:
                <li id="stuff">played basketball for 2 years</li>
                <li id="stuff">need help on blocking and defense</li>
                <li id="stuff">not used to playing in teams</li>
              </ul>
              
     
            </div>
          </div>
          
    
    
    
    <div class ="second_row">
                  <i id = "dots" class="fas fa-ellipsis-v fa-2x"></i>

      <div class="r2c1">
              
            <img class= "smallvideotag" src = "{% static 'draw/preference/assets/Basketball_5.jpg'%}" height = 200px; width = 300px>
            </div>
            <div class="r2c2">
              <p id = "secid">
              @eijikudo
             </p>
              <ul id="desc">description:
                <li id="stuff">play basketball with siblings in my back yard</li>
                <li id="stuff">working on how to do a lay up</li>
                <li id="stuff">confused about the footwork</li>
              </ul>
            
            </div>
    </div>
          <div class ="third_row">
                        <i id = "dots" class="fas fa-ellipsis-v fa-2x"></i>

            <div class="r3c1">
              
            <img class= "smallvideotag2" src = "{% static 'draw/preference/assets/Basketball_7.jpg'%}" height = 200px; width = 300px>
            </div>
            <div class="r3c2">
            <p id = "thirdid">
              @yeonjunie
             </p>
              <ul id="desc">description:
                <li id="stuff">stays afterschool to play basketball in the gym</li>
                <li id="stuff">need work on shooting 3 pointers</li>
                <li id="stuff">goal is to minimize misses</li>
              </ul>
            </div>
    </div>
  
<!--     <div id = "External" class ="fourth_row" style = "visibility:hidden">
      <div class="r4r1">
        <div class="r4r1c1">
          Take Photo or Video
        </div>
        <div class="r4r1c2">
          <img class= "littlecamera" src = "{% static 'draw/preference/assets/littlecamera.svg'%}">
        </div>
      </div>
      
      <div class="r4r2">
        <div class="r4r2c1">
          Photo Library
        </div>
        <div class="r4r2c2">
          <img class= "photolibrary" src = "{% static 'draw/preference/assets/photolibrary.svg'%}">
        </div>
      </div>
      
      <div class="r4r3">
        <div class="r4r3c1">
          Browse
        </div>
        <div class="r4r3c2">
          <img class= "browse" src = "{% static 'draw/preference/assets/browse.svg'%}">
        </div>
      </div>           
    </div>       -->
  
  
  
    <div class ="bottom_row">
            <div class="rlc1">
              <a href = "http://p4-progress-tracker-eijikudo883404.codeanyapp.com/draw/main_page"><i id = "Home" class="fas fa-home fa-5x Home_icon"></i></a>
              </div>
            <div class ="rlc2">
              <label id = "Camera" for = "inputPicture" class="fas fa-camera fa-5x Camera_icon">
              </label>
              <input type="file" id = "inputPicture" style="display: none;">
              <i id = "Camera" ></i>
            </div>
            <div class ="rlc3">
              <a href = "http://p4-progress-tracker-eijikudo883404.codeanyapp.com/draw/Personal_Page"><i id = "Personal" class="fas fa-user fa-5x Personal_icon"></i></a>
           </div>
        </div>
      
  
</body>
  <script>
    
//      function getBase64Image(img) {
//         var canvas = document.createElement("canvas");
//         canvas.width = img.width;
//         canvas.height = img.height;

//         var ctx = canvas.getContext("2d");
//         ctx.drawImage(img, 0, 0);

//         var dataURL = canvas.toDataURL("image/png");

//         return dataURL.replace(/^data:image\/(png|jpg);base64,/, "");
//     }
//     var image = document.querySelector('input');
//     var imgData = getBase64Image(image);
//     localStorage.setItem("imgData", imgData);
    

  </script>

</html>

