@import url(https://fonts.googleapis.com/css?family=Open+Sans);
.vertical_box {
  display: flex ;
  flex-direction: column;
  font-size : 36px;
          }
.search_bar{
  padding:50px;
}

.searchTerm {
  position: absolute;
  float: left;
  width: 500px;
  border: 3px solid #000000;
  left :250px;
  height: 50px;
  border-radius: 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #00B4CC;
}

/* .searchButton {
  position: absolute;  
  right: 241px;
  width: 60px;
  height: 60px;
  border: 1px solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
}
 */
.first_row{
position: absolute;
right:0px;
height: 102px;
left: 0px;
top:100px;
padding-top: 200px;

}

.r1c1{
  position: absolute;
  left:96px;
  top:25px;

}
.arrow{
  height:80px;
  width:80px;
}



.second_row{
position: absolute;
right:0px;
height: 600px;
left: 0px;
top:300px;
padding-top: 200px;
}

.r2c1{
  position: absolute;
  left:200px;
  top:0px;

}
.squarebasketballplayer{
  height:450px;
  width:600px;
}


.third_row{
position: absolute;
right:0px;
height: 200px;
left: 0px;
top:800px;
padding-top: 200px;

background: #FFFFFF;
border: 0.4px solid #000000;
box-sizing: border-box;
}

.r3c1{
  position: absolute;
  left:100px;
  top:0px;
  font-size:50px;

}



.fourth_row{
position: absolute;
right:0px;
height: 200px;
left: 0px;
top:1000px;
padding-top: 300px;
flex-flow: column;


}

.r4c1{
  position: absolute;
  left:100px;
  top:50px;

}
.chris{
  height:200px;
  width:200px;
}




.bottom_row{
position: absolute;
right:0px;
height: 102px;
left: 0px;
bottom:0px;
padding-top: 200px;
display:flex;
flex-direction:row;


background: #FFFFFF;
border: 0.4px solid #000000;
box-sizing: border-box;
box-shadow: 0px 0px 10px #444
}

.rlc1{
  position: absolute;
  left:100px;
  top:8px;

}

.rlc2{
  position: absolute;
  left:420px;
  top:8px;

}
.rlc3{
  position: absolute;
  left:740px;
  top:0px;

}
.Home_icon{
      position: absolute;
      left: 8%;
      right: 8.9%;
      top: 90%;
      bottom: 1%;
      height: 150px;
      width: 150px;
    }

 
.Camera_icon{
      position: absolute;
      left: 43%;
      right: 8.9%;
      top: 90%;
      bottom: 1%;
      height: 150px;
      width: 150px;
    }
.Personal_icon {
      position: absolute;
      left: 80%;
      right: 8.9%;
      top: 90%;
      bottom: 1%;
      height: 150px;
      width: 150px;

    }

 
      