 .app-name {
    position: absolute;
    width: 300px;
    height: 45px;
    left: 309.31px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
}

#myCanvas {
    position: absolute;
    width: 800px;
    height: 300px;
    left: 80px;
    top: 64.31px;
}

.submit {
    position: absolute;
    width: 110px;
    height: 30px;
    left: 780.31px;
    top: 19.31px;
}

.icon {
    width: 50px;
    height: 50px;
}

.pen-icon {
    position: absolute;
    left: 75px;
    top: 375px;
    border: solid;
}

.eraser-icon {
    position: absolute;
    left: 175.31px;
    top: 375px;
    border: solid;
}

.clear-icon {
    position: absolute;
    left: 275px;
    top: 375px;
    border: solid;
}

.undo-icon {
    position: absolute;
    left: 375px;
    top: 375px;
    border: solid;
}

.redo-icon {
    position: absolute;
    left: 475px;
    top: 375px;
    border: solid;
}

.blurry-icon {
    position: absolute;
    left: 575px;
    top: 375px;
    border: solid;
}

.path-icon {
    position: absolute;
    left: 675px;
    top: 375px;
    border: solid;
}

.audio-icon {
    position: absolute;
    left: 775px;
    top: 375px;
    border: solid;
}