#myCanvas {
  margin-left: 5vw;
  margin-top: 5vh;
  width: 90vw;
  height: 80vh;
  border: dotted black;
}

/* .memo {
  width: 90vw;
  height: 10vh;
  background-color: skyblue;
  display: none;
  margin-top: 5vh;
  margin-left: 5vw;
  
} */

.display_size {
  height: 5vh;
  width: 100vw;
  margin: 0 auto;
  font-family: 'arial black';
  display: block;
}