body {background-color:#121212;} 
.app-name {
    position: absolute;
    width: 300px;
    height: 45px;
    left: 309.31px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
}
#back {
  color: white;
  position: absolute;
  top: 5px;
  left: 50px;
}
#myCanvas {
    position: absolute;
    width: 900px;
    height: 400px;
    left: 40px;
    top: 50px;
    background-image: url(/static/draw/preference/assets/Basketball_3.png);
    background-size: 900px 400px;
}
.image{
   position: absolute;
    width: 900px;
    height: 400px;
    left: 40px;
    top: 50px;
}

.submit {
    position: absolute;
    width: 150px;
    height: 40px;
    left: 810px;
    top: 10px;
  font-size: 20px;
  font-family: 'Lexend Deca', sans-serif;
  color: #FFFFFF
}



#undo {
    position: absolute;
    left: 60px;
    top: 480px;
    color: #B5D3E7;
}


#clear {
    position: absolute;
    left: 380px;
    top: 480px;
      color: #B5D3E7;

}

#pen {
    position: absolute;
    left: 140px;
    top: 480px;
      color: #B5D3E7;

}

/* .redo-icon {
    position: absolute;
    left: 475px;
    top: 375px;
    border: solid;
}
 */
#highlight {
    position: absolute;
    left: 220px;
    top: 480px;    
    color: #B5D3E7;
}

#path {
    position: absolute;
    left: 300px;
    top: 480px;
    color: #B5D3E7;

}

#audio-file  {
  position: absolute;
  left: 800px;
  top: 480px;
  color: #B5D3E7;
  display: none;
}

#recordingsList {
  position: absolute;
  left: 500px;
  top: 480px;
}

#audio {
    position: absolute;
    left: 890px;
    top: 480px;
    color: #B5D3E7;
}

#stop {
    position: absolute;
    left: 890px;
    top: 480px;
    color: #B5D3E7;
  display: none;
}