#myCanvas {
  margin-left: 5vw;
  margin-top: 5vh;
  width: 90vw;
  height: 80vh;
  border: dotted black;
/*   margin: 0;
  background-color: yellow; */
}

/* #myCanvasForImage {
  margin-left: 5vw;
  margin-top: 5vh;
  width: 90vw;
  height: 80vh;
  border: dotted black;
/*   opacity: 0.5; */
} */

.display_size {
  height: 5vh;
  width: 100vw;
  margin: 0 auto;
  font-family: 'arial black';
  display: block;
}

.tool-btn {
  margin: 0 auto;
  text-align: center;
  width: 15vw;
  height: 10vh;
  font-size: 3vw;
  float: right;
  margin-right: 5vw;
}

.upload-tool {
  display: none;
}

